<h2> CRUD - Update </h2>
<h1>{{title}}</h1>




Empl : <p>{{empl.id}} - {{empl.name}}</p>

<div *ngIf="empl">
  <h2>{{empl.name | uppercase}} Details</h2>
  <div><span>id: </span>{{empl.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="empl.name" placeholder="name"/>
    </label>
  </div>
  <button (click)="updateEmployee()">Save</button>
  <button (click)="goBack()">Back</button>
  <!--<a class="btn btn-default" routerLink="/home" type="button">Back</a>-->
</div>



<!--<label>Name:-->
  <!--<input #employeeName />-->
<!--</label>-->

<!--<button (click)="addEmployee(employeeName.value); employeeName.value=''">Add</button>-->
